@()

@main("Login") {
    <div class="form-container">
        <form action="#" method="post">
            <div>
                <h1>Welcome</h1>
            </div>
            <div>
                <label for="username" class="text-icon"></label>
                <input type="text" id="username" name="username" placeholder="Enter username"/>
            </div>
            <div>
                <label for="password" class="pass-icon"></label>
                <input type="password" id="password" name="password" placeholder="Enter password"/>
            </div>
            <button class="btn" type="submit">Login</button>
            <div>
                <a href="#">Create an account</a>
            </div>          
        </form>
    </div>
}